body {
background: rgb(105, 105, 230);
font: normal 15pt Arial;
}

header {
color: white;
text-align: center;
}

section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
}
#but2{
    margin-left: 20px;
}
#but3{
    margin-left: 20px;
}
#butreload{
    padding-top: 8px;
    margin-left:100px;
    width: 70px;
    height: 40px;
    font-size: 9px;
    font-weight: bolder;
    vertical-align: auto;
}
#butmult{
margin-left: 194px;
font-size: 9px;
font-weight: bolder;
height: 22px;
width: 70px;
text-align: center;
}
footer {
color: white;
text-align: center;
font-style: italic;
}