body {
background: rgb(105, 105, 230);
font: normal 15pt Arial;
}

header {
color: white;
text-align: center;
}
input#nres {
    width: 50px;
}
input#nsuc {
    width: 50px;
}
input#botao {
    height: 40px;
}
section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
}

footer {
color: white;
text-align: center;
font-style: italic;
}