body {
background: rgb(105, 105, 230);
font: normal 15pt Arial;
}

header {
color: white;
text-align: center;
}
.cal2{
    border:2px solid;
}
div#res{
    text-align: center;
    background-color:rgb(75, 75, 75) ;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 60px;
    border-radius: 10px 10px 0 0;

}
div#cal{
    width: 290px;
    height: 240px;
    background-color: rgb(75, 75, 75);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
}
input#caixa{
    width: 260px;
    height: 50px;
    margin-bottom: 100px;
    border: solid 2px;
    border-radius: 15px;
    font: normal 15pt Arial;
    padding-left: 10px;
}
.button{
    border-radius: 45px;
    border: solid 1px;
    background-color: rgb(26, 26, 26);
    color: white;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 2px;
}
input#delete{
    border-radius: 45px;
    border: solid 1px;
    background-color:rgb(6, 100, 6);
    color: white;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 2px;
}
.operador{
    border-radius: 45px;
    border: solid 1px;
    background-color:rgb(23, 23, 134);
    color: white;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 2px;
}
.resultado{
    border-radius: 45px;
    border: solid 1px;
    background-color: rgb(18, 18, 88);
    color: white;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 2px;
}
section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
}

footer {
color: white;
text-align: center;
font-style: italic;
}